.popover {
  .recurringType-privat {
    color: $color-reservation-recurring-privat;
  }

  .recurringType-verein {
    color: $color-reservation-recurring-verein;
  }

  .recurringType-dutzendkarte {
    color: $color-reservation-recurring-dutzendkarte;
  }
}